.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.image {
  position: relative;
  height: calc(100% - 39px);
}

.title {
  text-transform: capitalize;
  padding: 8px;
  font-size: 0.8rem;
}
