.container {
  width: 500px;
  height: calc(700px - 57px);
  position: relative;
  top: 57px;
  vertical-align: top;
  border-bottom-right-radius: 25px;
  border-left: 1px solid;
  z-index: 1;
}

.cutout {
  position: absolute;
  top: 0;
  height: 44px;
  width: 189px;
  right: 0;
  background: #7ac9f9;
  border-bottom-left-radius: 75px;
  z-index: 3;
}

.cutoutOutline {
  position: absolute;
  top: 0;
  height: 44px;
  width: 189px;
  right: 0;
  z-index: 2;
  border-bottom-left-radius: 75px;
  filter: drop-shadow(-1px 3px 1px var(--shadowBase));
  transform: translate(-5px, 5px);
}

.body {
  margin: 4px;
  box-shadow: inset 0px 0px 5px 2px var(--shadowBase);
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  padding: 60px 25px 25px 25px;
}
