.base {
  background: var(--lightColor);
  border: 2px solid rgba(0, 0, 0, 0.5);
  display: inline-block;
  box-shadow: 0 -2px 0 3px var(--lightColor) inset,
    0 1px rgba(255, 255, 255, 0.25) inset;
}
