.container {
  height: 34px;
  width: 100%;
  margin: 40px 24px 15px 24px;
  display: flex;
}

.searchBtn {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  top: 1px;
  background: #0530e5;
  box-shadow: -1px 1px 0px 2px #032b70;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: inline-block;
  justify-content: center;
  align-content: center;
  line-height: 30px;
  size: 30px;
  height: 30px;
  padding: 2px 10px;
  color: #fff;
  font-size: 15px;
}

.searchInput {
  line-height: 30px;
  height: 30px;
  padding: 0 7px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: calc(100% - 101px);
}
